template.json
{
 "Description": "Queue accounts for deletion with organizations:CloseAccount",
 "Resources": {
  "LogGroup": {
   "Properties": {
    "LogGroupName": {
     "Fn::Join": [
      "/",
      [
       "/aws/vendedlogs/states",
       {
        "Ref": "AWS::StackName"
       },
       {
        "Fn::Select": [
         2,
         {
          "Fn::Split": [
           "/",
           {
            "Ref": "AWS::StackId"
           }
          ]
         }
        ]
       }
      ]
     ]
    },
    "RetentionInDays": 365
   },
   "Type": "AWS::Logs::LogGroup"
  },
  "OrganizationsAccountClosureStateMachine": {
   "Properties": {
    "Definition": {
     "Comment": "Close Organizations accounts tagged for closure",
     "StartAt": "Set empty pagination token",
     "States": {
      "Additional pages?": {
       "Choices": [
        {
         "Next": "Done paginating",
         "StringEquals": "",
         "Variable": "$.PaginationToken"
        }
       ],
       "Default": "Find accounts tagged for closure",
       "Type": "Choice"
      },
      "Done paginating": {
       "Type": "Succeed"
      },
      "Find accounts tagged for closure": {
       "Next": "For each account tagged REQUESTED",
       "Parameters": {
        "PaginationToken.$": "$.PaginationToken",
        "ResourceTypeFilters": [
         "organizations:account"
        ],
        "TagFilters": [
         {
          "Key": "organizations:account-closure",
          "Values": [
           "REQUESTED"
          ]
         }
        ]
       },
       "Resource": "arn:aws:states:::aws-sdk:resourcegroupstaggingapi:getResources",
       "Type": "Task"
      },
      "For each account tagged REQUESTED": {
       "ItemsPath": "$.ResourceTagMappingList",
       "Iterator": {
        "StartAt": "Describe account",
        "States": {
         "Close account": {
          "Catch": [
           {
            "Comment": "Account closure limit reached",
            "ErrorEquals": [
             "Organizations.ConstraintViolationException"
            ],
            "Next": "Nothing to do"
           }
          ],
          "Next": "Tag with ACKNOWLEDGED",
          "Parameters": {
           "AccountId.$": "$.Account.Id"
          },
          "Resource": "arn:aws:states:::aws-sdk:organizations:closeAccount",
          "Retry": [
           {
            "BackoffRate": 1,
            "Comment": "Retry on throttle",
            "ErrorEquals": [
             "Organizations.TooManyRequestsException"
            ],
            "IntervalSeconds": 20,
            "MaxAttempts": 2
           }
          ],
          "Type": "Task"
         },
         "Describe account": {
          "Catch": [
           {
            "Comment": "Potential eventual consistency issue",
            "ErrorEquals": [
             "Organizations.AccountNotFoundException"
            ],
            "Next": "Nothing to do"
           }
          ],
          "Next": "Is account ACTIVE?",
          "Parameters": {
           "AccountId.$": "States.ArrayGetItem(States.StringSplit($.ResourceARN, '/'), 2)"
          },
          "Resource": "arn:aws:states:::aws-sdk:organizations:describeAccount",
          "Type": "Task"
         },
         "Is account ACTIVE?": {
          "Choices": [
           {
            "Next": "Close account",
            "StringEquals": "ACTIVE",
            "Variable": "$.Account.Status"
           }
          ],
          "Default": "Tag with ACKNOWLEDGED",
          "Type": "Choice"
         },
         "Nothing to do": {
          "Type": "Succeed"
         },
         "Tag with ACKNOWLEDGED": {
          "End": true,
          "Parameters": {
           "ResourceId.$": "$.Account.Id",
           "Tags": [
            {
             "Key": "organizations:account-closure",
             "Value": "ACKNOWLEDGED"
            }
           ]
          },
          "Resource": "arn:aws:states:::aws-sdk:organizations:tagResource",
          "Type": "Task"
         }
        }
       },
       "MaxConcurrency": 1,
       "Next": "Additional pages?",
       "ResultPath": "$._MapResult",
       "Type": "Map"
      },
      "Set empty pagination token": {
       "Next": "Find accounts tagged for closure",
       "Result": {
        "PaginationToken": ""
       },
       "Type": "Pass"
      }
     },
     "TimeoutSeconds": 300
    },
    "LoggingConfiguration": {
     "Destinations": [
      {
       "CloudWatchLogsLogGroup": {
        "LogGroupArn": {
         "Fn::GetAtt": [
          "LogGroup",
          "Arn"
         ]
        }
       }
      }
     ],
     "IncludeExecutionData": true,
     "Level": "ALL"
    },
    "RoleArn": {
     "Fn::GetAtt": [
      "StateMachineRole",
      "Arn"
     ]
    },
    "StateMachineType": "EXPRESS"
   },
   "Type": "AWS::StepFunctions::StateMachine"
  },
  "Rule": {
   "Properties": {
    "ScheduleExpression": "rate(1 hour)",
    "Targets": [
     {
      "Arn": {
       "Ref": "OrganizationsAccountClosureStateMachine"
      },
      "Id": "default",
      "RoleArn": {
       "Fn::GetAtt": [
        "RuleRole",
        "Arn"
       ]
      }
     }
    ]
   },
   "Type": "AWS::Events::Rule"
  },
  "RuleRole": {
   "Properties": {
    "AssumeRolePolicyDocument": {
     "Statement": [
      {
       "Action": [
        "sts:AssumeRole"
       ],
       "Effect": "Allow",
       "Principal": {
        "Service": "events.amazonaws.com"
       }
      }
     ],
     "Version": "2012-10-17"
    },
    "Policies": [
     {
      "PolicyDocument": {
       "Statement": [
        {
         "Action": [
          "states:StartExecution"
         ],
         "Effect": "Allow",
         "Resource": [
          {
           "Fn::GetAtt": [
            "OrganizationsAccountClosureStateMachine",
            "Arn"
           ]
          }
         ]
        }
       ],
       "Version": "2012-10-17"
      },
      "PolicyName": "StateMachineInvoke"
     }
    ]
   },
   "Type": "AWS::IAM::Role"
  },
  "StateMachineRole": {
   "Properties": {
    "AssumeRolePolicyDocument": {
     "Statement": [
      {
       "Action": [
        "sts:AssumeRole"
       ],
       "Effect": "Allow",
       "Principal": {
        "Service": "states.amazonaws.com"
       }
      }
     ],
     "Version": "2012-10-17"
    },
    "Policies": [
     {
      "PolicyDocument": {
       "Statement": [
        {
         "Action": [
          "organizations:TagResource"
         ],
         "Condition": {
          "ForAllValues:StringEquals": {
           "aws:TagKeys": [
            "organizations:account-closure"
           ]
          },
          "StringEquals": {
           "aws:RequestTag/organizations:account-closure": [
            "ACKNOWLEDGED"
           ],
           "aws:ResourceTag/organizations:account-closure": [
            "REQUESTED"
           ]
          }
         },
         "Effect": "Allow",
         "Resource": [
          {
           "Fn::Join": [
            ":",
            [
             "arn",
             {
              "Ref": "AWS::Partition"
             },
             "organizations",
             "",
             {
              "Ref": "AWS::AccountId"
             },
             {
              "Fn::Join": [
               "/",
               [
                "account",
                "*"
               ]
              ]
             }
            ]
           ]
          }
         ]
        },
        {
         "Action": [
          "organizations:CloseAccount",
          "organizations:DescribeAccount"
         ],
         "Condition": {
          "StringEquals": {
           "aws:ResourceTag/organizations:account-closure": [
            "REQUESTED"
           ]
          }
         },
         "Effect": "Allow",
         "Resource": [
          {
           "Fn::Join": [
            ":",
            [
             "arn",
             {
              "Ref": "AWS::Partition"
             },
             "organizations",
             "",
             {
              "Ref": "AWS::AccountId"
             },
             {
              "Fn::Join": [
               "/",
               [
                "account",
                "*"
               ]
              ]
             }
            ]
           ]
          }
         ]
        },
        {
         "Action": [
          "tag:GetResources"
         ],
         "Effect": "Allow",
         "Resource": [
          "*"
         ]
        },
        {
         "Action": [
          "logs:CreateLogDelivery",
          "logs:DeleteLogDelivery",
          "logs:DescribeLogGroups",
          "logs:DescribeResourcePolicies",
          "logs:GetLogDelivery",
          "logs:ListLogDeliveries",
          "logs:PutLogEvents",
          "logs:PutResourcePolicy",
          "logs:UpdateLogDelivery"
         ],
         "Effect": "Allow",
         "Resource": [
          "*"
         ]
        }
       ],
       "Version": "2012-10-17"
      },
      "PolicyName": "OrganizationsAccountClosure"
     }
    ]
   },
   "Type": "AWS::IAM::Role"
  }
 }
}
